<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Витрина</title>
</head>
<body>
    <h1>Витрина</h1>
    <ul>
        <li>Arma 3 <button>Купить</button></li>
        <li>Baldur's Gate 3 <button>Купить</button></li>
        <li>Elden Ring <button>Купить</button></li>
        <li>No Man's Sky <button>Купить</button></li>
        <li>Rimworld <button>Купить</button></li>
    </ul>
    <button onclick="location.href='/platform'">Вернуться обратно</button>
</body>
</html>